doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Objects
    p
      
    if records && records.length
      table
        thead
          tr
            each prop in properties
              th= prop
        tbody
          each r in records
            tr
              each prop in properties
                td= (r.properties && r.properties[prop]) ? r.properties[prop] : ''
    else
      p No records yet.
    hr
    p
      a(href="/update-cobj") Update Record
      <br>
      a(href="/create-cobj") Add Record
